html{
    font-size: 62.5% !important;
 }
 *,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
 }
 :root{
    --primaryColor-- : rgb(0 74 185);
    --secendryColor-- : rgb(0, 252, 206);
    --btncolor-- : rgb(255, 255, 255);
    
 }
 body{
    width: 100vw;
    height: 100vh;
  
 }
 
 
 #navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--primaryColor--);
 }
 #navbar-brand {
    font-size:  clamp(.7rem, .5rem + 2.3333vw , 6rem);

 }
 .Same-Font{
    font-size:  clamp(.6rem, .2rem + 2.3333vw , 6rem);
   
 }
 #Hight{
    height: clamp(3rem, 1rem + 3vw , 7rem) !important ;
 }
 #Hight2{
   width: clamp(3rem, 7rem + 3vw , 10rem) !important;
    height: clamp(3rem, 1rem + 3vw , 7rem) !important ;
    font-size: clamp(.6rem, .2rem + 2.3333vw , 2rem);
 }

 #main{
   
    width: 100%;
    height: auto;
    background-color: var(--primaryColor--);
    border-top: 2px solid green;
    display: grid;
    grid-gap: 6rem;
    /* grid-template-columns: repeat( auto-fit, minmax(0.2rem, 1fr) ); */
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
   

 }
 .Card{
    
    
    position: relative;
    border: 2px solid green;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    /* height: clamp(35rem, 40rem + 2.3333vw, 70rem);
    width: clamp(35rem, 40rem + 2.3333vw, 70rem); */
 }
 .Card_img{
    width: 100%;
    height: 100%;
 }
 .Card > .button{

   position: absolute;
   width:  clamp(3rem, 7rem + 1.3333vw , 11rem);;
   height: clamp(6rem, .7rem + 1.3333vh , 11rem);
   margin-left: -70%;
   font-size:  clamp(2.7rem, .2rem + 1.3333vw , 4rem);
   font-weight: bold;
   display: grid;
   place-items: center;
   color:var(--primaryColor--);
   background-color: var(--btncolor--);
   border: 1px solid var(--secendryColor--);

 }
 .Card > .Card_play_btn{
        margin-left: 70%;
 }